@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joel's Amazing Film Collection!</h1>
    <img src="~/img/joelhiltonheadshot.jpg" />
    <h3>About the creator:</h3>
    <p>Joel is the brother of the most flame professor on BYU campus who is always drippin and spittin fire. His brother, Prof Hilton, teaches his son how to rizz up the baddies and streams fortnite.</p>
</div>
